body{
    background-color: hsl(204, 43%, 93%);
    font-family: Karla ;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 4em 0 ;

}
.inner_container{
    width: 80%;
    border-radius: .5em ; 
    background-color: white;
    box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.75);

    
    
}
.head{
    padding:  2em;
    
}
.head > h1{
    color: hsl(179, 62%, 43%);
}
.head > h2{
    color: hsl(71, 73%, 54%);
}
.head > p{
    color: hsl(218, 22%, 67%);
}

.price{
    padding: 2em;
    background-color: hsl(179, 62%, 43%);
    
}
.price > h2 {
    color: white;
    font-weight: 700;
}
.price > span:nth-child(2){
    color: white;
    font-size: 2.5em;
    font-weight: 700;
}
.price > span:nth-child(3){
    color: hsl(204, 43%, 93%);
    margin: .5em ;

}
.price > p{
    color: white;
    
}
.price > button{
    display: block;
    border: none;
    width: 100%;
    height: 3em;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    box-shadow: 5px 5px 40px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 40px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 40px -15px rgba(0,0,0,0.75);
    transition: .5s background-color ;

}
.price > button:hover{
    background-color: hsl(71, 73%, 45%);
    transition: .5s background-color ;
}
.description{
    padding: 2em;
    background-color: #4abebd;
    border-radius: 0 0 .5em .5em ; 
}
.description > h2 {
    color:white;
}
.description > p {
    color: hsl(204, 43%, 93%);
}
@media (min-width:90em){
    .inner_container{
        width: 50%;
        
    }
    .wrapper{
        display: flex;
    }
    .price{
        width: 100%;
        border-radius: 0 0 0 .5em;
    }
    .description{
        width: 100%;
        border-radius: 0 0 .5em 0;
    }
    
}